fastapi
uvicorn
pytorch
scikit-learn
numpy
pandas 
matplotlib
torch 
torchvision
torchaudio
python-multipart
pydantic
timm
pillow
opencv-python
streamlit-js-eval
firebase-admin
redis
librosa
hashlib
streamlit-webrtc
